.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume h3 {
    margin-bottom: 5px;
}


button {
    background: #3e497a;
    border-radius: 10px;
    border: solid white;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
    transition: all 0.2s ease-in-out;

}

button:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
}
